<% title t('.edit_source'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.show'), @source %></li>
      <li><%= link_to t('.view_all'), sources_path %></li>
    </ul>
  </div>
  <h1><%= t('.edit_source') %></h1>
<% end %>

<div class="inner">
  <%= render 'form' %>
</div>
