<% title t('.sources'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.new_source'), new_source_path %></li>
    </ul>
  </div>
  <h1><%= t('.sources') %></h1>
<% end %>
    
<div class="inner">
  <table>
    <tr>
      <th><%= Source.human_attribute_name(:name) %></th>
    </tr>
    <% for source in @sources %>
      <tr>
        <td><%= link_to source.name, source %></td>
      </tr>
    <% end %>
  </table>
</div>
