<% javascript "jquery-ui" %>

<% title t('.new_task'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.back_to_list'), tasks_path %></li>
    </ul>
  </div>
  <h1><%= t('.new_task') %></h1>
<% end %>

<div class="inner">
  <%= render 'form' %>
</div>
