tbody tr:nth-child(even) td, tbody tr.even td {
    background: none;
}

input {
    padding: 3px;
}

tbody tr:nth-child(even) td, tbody tr.even td {
    background: none;
}

body {
    font-family: Verdana,Helvetica,Arial,sans-serif,'Microsoft YaHei';
    font-size: 12px;
    background-color: #E5E5E5;
}

header {
    background-color: #195D00;
}

header .logo {
    padding: 4px 0 10px 32px;
}

header h1 a:link, header h1 a:visited, header h1 a:hover, header h1 a:active {
    color: #FFF;
    text-decoration: none;
}

header #user_nav {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 7px 25px;
    font-size: 12px;
}

header #user_nav, header #user_nav a {
    color: #D1EEFF;
    text-decoration: none;
}

header #user_nav a:hover {
    text-decoration: underline;
}

/* tabs */

#tabs {
    height: 24px;
    margin: 0 25px 0 30px;
    padding: 0;
}

#tabs ul {
    margin: 0;
    padding: 0;
}

#tabs li {
    display: inline;
    list-style-type: none;
    border: none;
}

#tabs a:link, #tabs a:visited {
    font-size: 12px;
    line-height: 12px;
    font-weight: normal;
    text-decoration: none;
    background-color: #217A00;
    color: #D1EEFF;
    padding: 5px 9px 7px;
    margin: 0 1px;
}

#tabs a:hover {
    color: #FFF;
    background: #054700;
}

#tabs a:link.current, #tabs a:visited.current {
    color: #000;
    font-weight: bold;
    margin: 0 1px;
    padding-bottom: 9px;
    background: #e5e5e5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e5e5e5'); /* IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e5e5e5)); /* webkit */
    background: -moz-linear-gradient(top,  #fdfdfd,  #e5e5e5); /* firefox 3.6+ */
}

#tabs a:link.highlight, #tabs a:visited.highlight {
    color: orange;
}

/* header */

.title .buttons {
    float: right;
}

.title .buttons ul {
    margin: 0;
    padding: 2px 0 0 0;
}

.title .buttons li {
    display: inline;
    list-style-type: none;
    border: none;
    padding-left: 5px;
}

#wrapper {
    padding: 12px 23px 0 30px;
}

.container {
    width: auto;
    min-width: 750px;
}

table.content td.main, table.content td.side {
    vertical-align: top;
    padding: 0;
}

table.content td.main {
    width: 70%;
    padding: 0;
}

table.content td.main .col .flash_messages {
    padding-right: 8px;
    margin-bottom: 12px;
}

table.content td.main .col .flash_messages #hide_notice {
    float: right;
    padding: 2px 0.8em 0 0;
    color: #06C;
}

table.content td.main .col .flash_messages #hide_notice:hover {
    color: #09F;
    text-decoration: underline;
    cursor: pointer;
}

table.content td.main .col .row {
    background-color: #FFF;
    -moz-box-shadow: 3px 3px 4px #BBB;
    -webkit-box-shadow: 3px 3px 4px #BBB;
    box-shadow: 3px 3px 4px #BBB;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#BBBBBB')"; /* IE 8+ */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=6, Direction=135, Color='#BBBBBB'); /* IE <= 7 */
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
    margin-right: 8px;
}

table.content td.side {
    width: 30%;
    padding: 0;
}

table.content td.side .block {
    padding-bottom: 20px;
}

table.content td.side .block table tr td {
    padding: 4px 2px 4px 8px;
}

table.content td.side .block table tr td.label {
    text-align: right;
    font-weight: bold;
}

table.content td.side h2 {
    background-color: #EDF3FE;
    border-bottom: 1px solid gainsboro;
    margin: 0 0 5px 0;
    color: #333;
    padding: 6px 8px;
    font-size: 13px;
    font-weight: bold;
}

.content table {
    width: auto;
}

.main .title {
    background: #EDF3FE;
    margin: 0 0 5px 0;
    padding: 13px 30px 13px 24px;
}

.main .title h1 {
    color: #000;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0;
}

.main .inner {
    padding: 15px 60px 20px 23px;
}

.main .inner.signup {
    padding: 0;
}

.side .inner {
    min-width: 200px;
    padding: 0 0 0 9px;
}

.side .inner .indent {
    padding-left: 8px;
}

table.order_details {
    padding: 10px;
}

table.order_details tr td.item_quantity, table.order_details tr td.item_price, table tr.total_line td, table tr .total_price, table tr .timestamp, table tr .number {
    text-align: right;
}

table.tr.total_line .total_cell {
    font-weight: bold;
}

table.hoverable tr {
    background-color: none;
}

table.hoverable tr.hover {
    background-color: #F0F0F0;
}

/* sessions */

body.session {
    background-color: #F3F1EC;
}

body.session .container {
    margin: 0 auto;
    width: 480px;
    min-width: 480px;
}

body.session .container table.content {
    margin: 60px 0 15px 0;
}

/* form error messages */

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0 0 0 10px;
}

/* search */

input#q {
    font-size: 14px;
    width: 358px;
}

/* notes */

.add_note {
    padding: 0 60px 20px 0;
}

.add_note h2 {
    font-size: 12px;
    font-weight: bold;
    padding: 15px 0 0 0;
}

.add_note #add_note_button {
    color: #06C;
    text-decoration: underline;
}

.add_note #add_note_button:hover {
    color: #09F;
    cursor: pointer;
}

.add_note textarea {
    width: 100%;
    height: 96px;
}

.message {
    line-height: 18px;
    border-top: 1px solid #EDEDED;
    padding: 18px 0 1px 0;
    clear: both;
}

.message.first {
    border-top: none;
}

.message .avatar {
    width: 48px !important;
    float: left;
}

.message .content {
    margin-left: 63px;
}

#messages.hoverable .message .timestamp {
    float: right;
    color: #C0C0C0;
}

#messages.hoverable .message.hover .timestamp {
    color: #777;
}

.message .content .header {
    font-weight: bold;
}

.message .content .meta {
    color: #777;
    margin-bottom: 9px;
}

.message .content .meta a {
    color: #777;
    text-decoration: none;
}

.message .content .meta a:hover {
    text-decoration: underline;
}

.message .content .header a {
    color: #000;
    text-decoration: none;
}

.message .content .header a:hover {
    text-decoration: underline;
}

/* tasks */

table.tasks {
    width: 100%;
    margin-bottom: 0.75em;
}

table.tasks td {
    text-align: left;
    vertical-align: top;
    padding: 0 1em 0 0;
}

table.tasks td.checkbox {
    width: 13px;
    padding-right: 5px;
}

table.tasks td.timestamp {
    color: #C0C0C0;
    text-align: right;
    white-space: nowrap;
}

table.tasks tr.hover td.timestamp {
    color: #777;
}

.side table.tasks td.timestamp {
    color: #777;
}

.side table.tasks tr.hover td.timestamp {
    color: #333;
}

table.tasks .task_name {
    max-width: 768px;
    white-space: nowrap;
    overflow: hidden;
}

.side table.tasks .task_name {
    max-width: 256px;
    white-space: nowrap;
    overflow: hidden;
}

#upcoming_tasks .busy {
    text-decoration: line-through;
}

.task_category {
    padding: 4px 0 4px 4px;
    font-weight: bold;
}

/* form */

form table tr td.label {
    text-align: right;
}

form .required_indicator {
    color: red;
    font-size: smaller;
}

/* listing */

.inner .listing .item {
    border-top: 1px solid #EDEDED;
}

.inner .listing .item.first  {
    border-top: none;
}

.inner .listing .item .title {
    font-size: 22px;
    font-weight: normal;
    line-height: 18px;
    background: none;
    margin: 0;
    padding: 15px 0 10px 0;
}

.inner .listing .item .meta {
    font-size: 10px;
    padding: 5px 0 10px 0;
}

.inner .item .title {
    font-size: 22px;
    font-weight: bold;
    line-height: 25px;
    background: none;
    margin: 0;
    padding: 10px 0;
}

.inner .item > .content {
    padding: 22px 0 10px;
}

/* attachment */

.documents {
    border: 1px solid #CCC;
    padding: 10px;
    margin: 0 0 25px 0;
}

.documents h2 {
    font-size: 12px;
    font-weight: bold;
}

.documents ul {
    list-style: none;
    padding: 0;
    margin: 0 0 0.75em 0;
}

.documents ul li {
    padding: 0;
    margin: 0;
}

.documents ul li a {
    display: block;
    padding: 2px 16px;
    background: url(/images/document.png) left no-repeat;
}

/* orders */

span.state.pending {
    color: red;
}

span.state.processing {
    color: green;
}

span.state.completed {
    color: #CCC;
}

/* users */

table.name_card td.label {
    font-weight: bold;
    text-align: right;
}

/* timestamps */

.timestamp.today {
    font-weight: bold;
}

#upcoming_tasks .timestamp.today {
    font-weight: bold;
}

#completed_tasks .timestamp.today {
    font-weight: normal;
}

#upcoming_tasks .due_date .timestamp.this_year, #upcoming_tasks .due_date .timestamp.before_this_year {
    color: red;
}

#completed_tasks .due_date .timestamp {
    color: #C0C0C0;
}

#completed_tasks .hover .due_date .timestamp {
    color: #777;
}
