<% title @user.username %>

<div class="inner">
  <% unless @activities.empty? %>
    <div id="messages">
      <%= render @activities %>
    </div>
  <% end %>
</div>

<% content_for :side do %>
  <div class="inner">
    <h2><%= t('.tasks') %></h2>
    <% unless current_user.assigned_tasks.empty? %>
      <% javascript 'jquery-ui' %>
      <div id="upcoming_tasks">
        <% for task in current_user.assigned_tasks.upcoming.order('due_at DESC') %>
          <%= render task %>
        <% end %>
      </div>
      <div id="completed_tasks" style="display:none">
      </div>
    <% else %>
      <div class="indent">
        <%= t('.all_done') %>
      </div>
    <% end %>
  </div>
<% end %>
