<div class="field">
  <%= f.collection_select :product_id, Product.all, :id, :name, { :prompt => t('.select_a_product') }, :style => "margin-top:0" %>
  &times;
  <%= f.text_field :quantity, :size => "2", :style => "margin-top:0" %>
  <%= f.link_to_remove t('.remove') %>
</div>
