<% javascript "address_selector", "city_mapper" %>

<div id="province_select">
  <%= f.label :province_id %><br />
  <%= f.collection_select :province_id, Province.all, :id, :name, :include_blank => true %>
</div>
<div id="city_select">
  <%= f.label :city_id %><br />
  <%= f.collection_select :city_id, @contact.addresses[0].province.try(:cities) || [], :id, :name, :include_blank => true %>
</div>
