<% title t('.new_report'), false %>

<% content_for :header do %>
  <div class="buttons">
    <ul>
      <li><%= link_to t('.back_to_list'), reports_path %></li>
    </ul>
  </div>
  <h1><%= t('.new_report') %></h1>
<% end %>

<div class="inner">
  <%= render 'form' %>
</div>
